:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #161b27;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #1677ff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input[type="text" i] {
 height: 27px;
}

form textarea {
  height: 100px;
}

form button {
  background-color: #1677ff;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 33px;
}

form button:disabled {
  background-color: #6193da;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Animated dots for loading */
.typing {
  display: inline-block;
  font-size: 18px;
}

.typing span {
  animation: blink 1.5s infinite steps(1, start) both;
  font-weight: bold;
}

.typing span:nth-child(1) {
  animation-delay: 0s;
}

.typing span:nth-child(2) {
  animation-delay: 0.15s;
}

.typing span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.clear-button {
  position: absolute;
  top: -5px;
  right: 20px;
  cursor: pointer;
}

.clear-button svg {
  width: 19px;
  height: 19px;
}

.supabase-auth-ui_ui-container {
  max-width: 400px;
  margin: 50px auto 0 !important;
}

.supabase-auth-ui_ui-divider {
  display: none !important;
}

.supabase-auth-ui_ui-container input {
  color: white;
}